{{ define "homepage" }}
<html lang="zh-CN">
{{ template "header" .Title}}

<style media="screen">
    <!--
    @import url("../../static/css/homepage.css");
    -->
</style>
<body>
<div id="homepage">
    <div style="width: 40vw">
        <div style="text-align: center" class="text-4xl mb-5">
            {{ .Title }}
        </div>
    </div>
</div>
</body>
{{ template "footer" }}
</html>
{{ end }}